<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<array>
			<string>Bakery.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Bakery</string>
		</array>
		<array>
			<string>Sandwiches.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Sandwiches</string>
		</array>
		<array>
			<string>Dlink.png</string>
			<array>
				<dict>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Dlink</string>
		</array>
		<array>
			<string>Salad.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Salad</string>
		</array>
		<array>
			<string>RiceMeal.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>RiceMeal</string>
		</array>
		<array>
			<string>Noodles.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Noodles</string>
		</array>
		<array>
			<string>Vegetarian.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Vegetarian</string>
		</array>
		<array>
			<string>NonVegtarian.png</string>
			<array>
				<dict>
					<key>Image</key>
					<string>AnadamaBread.jpeg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Anadama bread with wheat flour,cornmeal,molasses and sometimes</string>
					<key>Name</key>
					<string>Anadama Bread</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>Smorecupcakes.jpg</string>
					<key>Rating</key>
					<string>3</string>
					<key>Discrption</key>
					<string>Smore cupcakes with cup sugar,soda,eggs</string>
					<key>Name</key>
					<string>Smore CupCakes</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>bananaChacolate.jpg</string>
					<key>Rating</key>
					<string>1.3</string>
					<key>Discrption</key>
					<string>My Chocolate chip sour cream muffins(like a cookie - but in muffin)</string>
					<key>Name</key>
					<string>Banana Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>leniniChacolate.jpeg</string>
					<key>Rating</key>
					<string>2.0</string>
					<key>Discrption</key>
					<string>Levain bakery chocolate chip cookie</string>
					<key>Name</key>
					<string>Levain Chocolate</string>
				</dict>
				<dict>
					<key>Image</key>
					<string>SweetBiscut.jpg</string>
					<key>Rating</key>
					<string>2.8</string>
					<key>Discrption</key>
					<string>Sweet Biscuit with natural ingredients.</string>
					<key>Name</key>
					<string>Sweet Biscuit</string>
				</dict>
			</array>
			<string>Non-Vegetarian</string>
		</array>
	</array>
</dict>
</plist>
